<body img="../assets/images/guns.jpg">
<app-header></app-header>

<div align="center">
  <h5 class="section-title h1">Assault Rifles</h5></div>
<div class="row">
  <div class="col-md-4">
<input type="number" class="form-control" placeholder="Search"  [(ngModel)]="inputval" />
  </div>
<button class="btn btn-outline-success my-2 my-sm-0" (click)="getFilteredGuns()">Search</button>
</div>
<div class="row">
<div class="col-xs-12 col-sm-6 col-md-3" *ngFor="let gun of guns; let i=index">
   <app-gun [gun]="gun" ></app-gun>

</div></div>

<app-footer></app-footer>

</body>




